@page "/person/edit/{id:int?}"
@inject InsCorpDbContext db
@inject NavigationManager nav

<h3>Upravit osobu</h3>

<PersonEditForm OnValidSubmit="Save" Person="Person" />

@code {

    Person Person = new();

    [Parameter]
    public int id { get; set; }

    protected override void OnInitialized()
    {
        Person = db.Persons.Find(id);
    }

    void Save()
    {
        db.SaveChanges();

        nav.NavigateTo($"/person/detail/{Person.Id}");
    }
}
