@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    string[] names = { "Jana", "Petr", "Karel" };
}

<h1>Hello</h1>

<p>
    @DateTime.Now.ToString("dd.MM.yyyy")
</p>

@foreach(var name in names)
{
    var fullname = name + " prijmeni";
    <p>@fullname</p>
}